{
  # generate a random key, for instance using "dd count=1000 if=/dev/urandom | sha1sum"
  "key": "0b304a3743f3d4a679ec0f82b827fbf29539da96",
  "allowed_domains": [
    "api.domain.com"
  ],
  "allowed_origins": [
    "https://yourdomain.com"
  ],
  "port": 8080,
  "bind_localhost_only": false,
  "headers": {
    "common": {
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64; rv:141.0) Gecko/20100101 Firefox/141.0",
      "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
      "Accept-Language": "en-US,en;q=0.5",
      "Accept-Encoding": "gzip, deflate, br, zstd",
      "Upgrade-Insecure-Requests": "1",
      "Sec-Fetch-Dest": "document",
      "Sec-Fetch-Mode": "navigate",
      "Sec-Fetch-Site": "none",
      "Sec-Fetch-User": "?1",
      "Connection": "keep-alive"
    },
    "overload": {
      "api.domain.com": {
        "Accept": "application/json",
        "Referrer": "https://site.com"
      }
    }
  }
}